.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  background: rgba(255, 255, 255, 1);
}

.header__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  background: #ffffff;
  width: 200;
  height: 24;
  opacity: 1;
  top: 30px;
  left: 104px;
}
